<ion-item-sliding #slidingItem>
  <ion-item>
    <ion-label>{{ expense.item }}</ion-label>
    <ion-badge slot="end" mode="ios"> {{ expense.price }} RON </ion-badge>
  </ion-item>
  <ion-item-options side="end">
    <ion-item-option color="danger" (click)="delete(slidingItem)">
      <ion-icon name="trash"></ion-icon>
      <ion-label>Delete</ion-label>
    </ion-item-option>
  </ion-item-options>
</ion-item-sliding>
