<div style="display: block">
  <canvas
    baseChart
    [data]="chartData"
    [labels]="chartLabels"
    [chartType]="'pie'"
  ></canvas>
</div>

<ion-list *ngIf="(expenses$ | async) as expenses">
  <app-expense-view
    *ngFor="let expense of expenses"
    [expense]="expense"
  ></app-expense-view>
</ion-list>
