<div class="login" padding>
  <img src="../../assets/logo.png" alt="logo" />
  <h1>Login</h1>
  <hr />
  <ion-item>
    <ion-label position="floating">User</ion-label>
    <ion-input type="text" [(ngModel)]="user.user"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input type="password" [(ngModel)]="user.password"></ion-input>
  </ion-item>
  <ion-item lines="none" margin-top>
    <ion-checkbox slot="start" [(ngModel)]="rememberMe"></ion-checkbox>
    <ion-label>Remember me</ion-label>
  </ion-item>
  <ion-button color="primary" (click)="onSubmit()">Login</ion-button>
</div>
