.login {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 3em;
	min-height: 100vh;

	ion-item {
		width: 100%;
	}

	ion-button {
		margin-top: 2em;
		--width: 100%;
		width: 100%;
	}

	img {
		width: 80%;
	}
}