<ion-header mode="ios">
  <ion-toolbar color="primary">
    <ion-title>My expenses</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <app-expense-list> </app-expense-list>
  <ion-fab
    vertical="bottom"
    horizontal="end"
    slot="fixed"
    margin-bottom
    margin-end
  >
    <ion-fab-button color="secondary" routerLink="/add-expense">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
