<ion-header mode="ios">
  <ion-toolbar color="primary">
    <ion-title>Add expense</ion-title>

    <ion-buttons slot="start">
      <ion-button routerLink="/expenses">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label position="floating">Item name</ion-label>
    <ion-input type="text" [(ngModel)]="expense.item"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Item price</ion-label>
    <ion-input type="number" [(ngModel)]="expense.price"></ion-input>
  </ion-item>
  <ion-button color="primary" (click)="onSubmit()">Add</ion-button>
</ion-content>
