// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

@font-face {
  font-family: 'IBM Plex Regular';
  font-weight: 300;
  font-style: normal;
  src: url('./assets/fonts/ibmplexmono-regular-webfont.woff2') format('woff2'),
    url('./assets/fonts/ibmplexmono-regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'IBM Plex';
  font-weight: 500;
  font-style: normal;
  src: url('./assets/fonts/ibmplexmono-medium-webfont.woff2') format('woff2'),
    url('./assets/fonts/ibmplexmono-medium-webfont.woff') format('woff');
}

@font-face {
  font-family: 'IBM Plex';
  font-weight: 700;
  font-style: normal;
  src: url('./assets/fonts/ibmplexmono-bold-webfont.woff2') format('woff2'),
    url('./assets/fonts/ibmplexmono-bold-webfont.woff') format('woff');
}

:root {
  --ion-color-primary: #5703be;
  --ion-color-primary-rgb: 87, 3, 190;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #4d03a7;
  --ion-color-primary-tint: #681cc5;

  --ion-color-secondary: #ff970f;
  --ion-color-secondary-rgb: 255, 151, 15;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #e0850d;
  --ion-color-secondary-tint: #ffa127;

  --ion-color-tertiary: #ffd816;
  --ion-color-tertiary-rgb: 255, 216, 22;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #e0be13;
  --ion-color-tertiary-tint: #ffdc2d;

  --ion-color-success: #1eb22d;
  --ion-color-success-rgb: 30, 178, 45;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #1a9d28;
  --ion-color-success-tint: #35ba42;

  --ion-color-warning: #f25937;
  --ion-color-warning-rgb: 242, 89, 55;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #d54e30;
  --ion-color-warning-tint: #f36a4b;

  --ion-color-danger: #d31b1b;
  --ion-color-danger-rgb: 211, 27, 27;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #ba1818;
  --ion-color-danger-tint: #d73232;

  --ion-color-dark: #2d2d2d;
  --ion-color-dark-rgb: 45, 45, 45;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #282828;
  --ion-color-dark-tint: #424242;

  --ion-color-medium: #444444;
  --ion-color-medium-rgb: 68, 68, 68;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #3c3c3c;
  --ion-color-medium-tint: #575757;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --ion-font-family: 'IBM Plex';
  font-family: 'IBM Plex';
}
